<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PythonDir">
            <Component Id="cmp35713A870C952E6908522DEB83C36042" Guid="{A6DB7D84-E758-491B-BAAD-E3C6DE36A1E0}">
                <File Id="fil748AF323A02393B278C477E36AB6C1C2" KeyPath="yes" Source="$(var.PythonDir)\get-pip.py" />
            </Component>
            <Component Id="cmp44A5D3ACAFE3C90665CE6EDCA80257DA" Guid="{B1B6C656-0A3C-4D61-B7F8-BC222B469F07}">
                <File Id="fil733C42120C6B04B9747B91B8E920E4F0" KeyPath="yes" Source="$(var.PythonDir)\libcrypto-3.dll" />
            </Component>
            <Component Id="cmp55EE868E9AA0B342D7D18877FF0E0494" Guid="{556A4B1E-BBD6-4522-8C4C-237C0B6C187C}">
                <File Id="fil4A5F993447DB0605CB2EDAF6D6CEF110" KeyPath="yes" Source="$(var.PythonDir)\libffi-8.dll" />
            </Component>
            <Component Id="cmpB2F8F987F472235981A00299C9F2861E" Guid="{0DD675B4-3F41-40DE-BBB5-256863F59A3D}">
                <File Id="filC72E227F9E89A70E6D344BED1C151EE6" KeyPath="yes" Source="$(var.PythonDir)\libssl-3.dll" />
            </Component>
            <Component Id="cmpF38CC5975717BDFB7A9379C3589EEBF5" Guid="{3BB05243-46C2-43BB-8930-513B6890490E}">
                <File Id="filDCA6BCE7C16A31D09E3AD5371A4C2825" KeyPath="yes" Source="$(var.PythonDir)\LICENSE.txt" />
            </Component>
            <Component Id="cmp11E40797B0A1D532FBD1ACA1EA649A52" Guid="{45897960-BBD1-42C3-8128-F23E7BEA6033}">
                <File Id="fil8E8523DB4A084FD7B4331F27A92382E0" KeyPath="yes" Source="$(var.PythonDir)\pyexpat.pyd" />
            </Component>
            <Component Id="cmp84B3D02563278AC609055A78E08B026D" Guid="{2569C747-FE40-4EB3-B230-F687F28B3629}">
                <File Id="filC627878A0069F36C190AC83989F18397" KeyPath="yes" Source="$(var.PythonDir)\python.cat" />
            </Component>
            <Component Id="cmpC3ABF24791ECEE1BA44679141FE4E55E" Guid="{751D9E81-403C-4FB1-9DFA-23956B8CA9D6}">
                <File Id="filE21AB8072B6F105283034C9A8CD47F27" KeyPath="yes" Source="$(var.PythonDir)\python.exe" />
            </Component>
            <Component Id="cmpC513C9469B988ECA20CA8DFD67828B45" Guid="{ABCBC112-13C9-4E57-805B-682F52F86FE7}">
                <File Id="filAC3246B46A3519C66992E722EA9ED72C" KeyPath="yes" Source="$(var.PythonDir)\python3.dll" />
            </Component>
            <Component Id="cmpF47FAF41783C6F1F9B0239AA955B1496" Guid="{1A51871A-3857-4A07-A992-F955EAF3C120}">
                <File Id="fil03EF00DC299FD31576BA2758B0763737" KeyPath="yes" Source="$(var.PythonDir)\python312.dll" />
            </Component>
            <Component Id="cmp3C4D98EFE26A6DD41F71923FCBCE1428" Guid="{9A7678C0-7287-4DE2-B610-1D6A1B80C741}">
                <File Id="filDF3929FFC888ED78FD1CE6A6C5021BA2" KeyPath="yes" Source="$(var.PythonDir)\python312.zip" />
            </Component>
            <Component Id="cmp203C7BA2FC305202C15BD7CEC69FA69E" Guid="{28F0A64E-DDB5-4AE9-AB33-E5DECCDC6F3D}">
                <File Id="fil7FDBCB02DC01C10B7F3ECB00A99E5CEC" KeyPath="yes" Source="$(var.PythonDir)\python312._pth" />
            </Component>
            <Component Id="cmp6C0B41F14EB6A5D3AD7D67346D2A42FB" Guid="{9D90121F-E9D0-402F-8C2E-721307F946D5}">
                <File Id="fil7BC490FDDACC0B8EAC9B2748338A9E9D" KeyPath="yes" Source="$(var.PythonDir)\pythonw.exe" />
            </Component>
            <Component Id="cmp612EEEE85D4898ACA20F4640FD7EFB8D" Guid="{0E21F1EF-4342-4217-8FFD-999594F6E3BF}">
                <File Id="fil4314B0993B876E262B00EE2162688CA4" KeyPath="yes" Source="$(var.PythonDir)\select.pyd" />
            </Component>
            <Component Id="cmp26CE766BCF1C28DE3A3ABA46BD933A3E" Guid="{88930F36-5438-47F3-9466-EFF451150FDA}">
                <File Id="filE4ADC7AA194DC7AF4F9D393F6A3F39FD" KeyPath="yes" Source="$(var.PythonDir)\sqlite3.dll" />
            </Component>
            <Component Id="cmp890E536541E18ACE796857704C83A7A0" Guid="{9E1CF370-A9D1-4B57-85DF-06C2EE087520}">
                <File Id="filEDE8FB8509B61C77C513F93863BEDDEF" KeyPath="yes" Source="$(var.PythonDir)\unicodedata.pyd" />
            </Component>
            <Component Id="cmpAFA61991B27E235FBD8C2CD4C37E2954" Guid="{19F7A32C-6340-4648-AFC7-2EC83D3723FB}">
                <File Id="filC3B28C7FB7DCF36A85BFC9ED61D15075" KeyPath="yes" Source="$(var.PythonDir)\vcruntime140.dll" />
            </Component>
            <Component Id="cmp41033B3F4DE82E5835967A1E4D94358D" Guid="{443CB6CF-9EE0-44DA-B401-289C2C2659D6}">
                <File Id="filA1D78F5AF236A2FF8BF3A7985199E6CD" KeyPath="yes" Source="$(var.PythonDir)\vcruntime140_1.dll" />
            </Component>
            <Component Id="cmp0FEFEDFF56ACC90614812AFD29FAC0C4" Guid="{D8A47774-D970-4B2A-BB97-BC7CBD54A520}">
                <File Id="fil694256FDBFB0BE0436055FD9B9153B4A" KeyPath="yes" Source="$(var.PythonDir)\winsound.pyd" />
            </Component>
            <Component Id="cmp8B0648A5B61A553A46C6E78A38A238CC" Guid="{15175A8A-7A81-4158-8228-6B6B13B4AFF2}">
                <File Id="filF6FB8C7C267FFB5EF8DC2003B9C1E2CE" KeyPath="yes" Source="$(var.PythonDir)\_asyncio.pyd" />
            </Component>
            <Component Id="cmp57709473DF6A927803549271A52A43C9" Guid="{AADE9629-8456-4F27-89E5-141EB995A972}">
                <File Id="fil6ADA72A0118D4AD364C62712C26F526F" KeyPath="yes" Source="$(var.PythonDir)\_bz2.pyd" />
            </Component>
            <Component Id="cmp316BAF075865317F4C49275039CE2D85" Guid="{FD508CA7-AD76-4A98-950E-6EA9FB16ECA3}">
                <File Id="filBC3E9207594568F2AD25005D6CAA38F1" KeyPath="yes" Source="$(var.PythonDir)\_ctypes.pyd" />
            </Component>
            <Component Id="cmp6C3539A4E6E28B354C69479E68F3B226" Guid="{1D3EC0A8-B2CF-44ED-805A-29F4D64C55D6}">
                <File Id="filED17A46BAF6C3C7689B1F15B8796D753" KeyPath="yes" Source="$(var.PythonDir)\_decimal.pyd" />
            </Component>
            <Component Id="cmpFB1FFBB864F603DD2811B24F48CE8DC2" Guid="{EB8D527B-89DB-493D-9881-B3D100937B5C}">
                <File Id="fil4E88598E9CDA71C017A5700B137D1D08" KeyPath="yes" Source="$(var.PythonDir)\_elementtree.pyd" />
            </Component>
            <Component Id="cmp0F9CAA5E73B53D6524093AFB845A7298" Guid="{EE7AD728-E20E-4599-A187-086AB1F26321}">
                <File Id="filD28C0383BC1D0FA67E340D6E9EF0C7D5" KeyPath="yes" Source="$(var.PythonDir)\_hashlib.pyd" />
            </Component>
            <Component Id="cmp3B5B0FC5D9C75A9C83DF26C67E2BCA69" Guid="{EDAF8109-E108-4903-B6DC-119EDA7E4BC4}">
                <File Id="fil826BA4F6BE54DAA72282846F541FC018" KeyPath="yes" Source="$(var.PythonDir)\_lzma.pyd" />
            </Component>
            <Component Id="cmpE8408DACB05EC7B767E0280D6ABCCC76" Guid="{B9F263F9-F030-4A6C-BD72-A92C5C150A9D}">
                <File Id="filFC7380D999C14B0CBFAA69DC6C8784F4" KeyPath="yes" Source="$(var.PythonDir)\_msi.pyd" />
            </Component>
            <Component Id="cmpDC1317E303006506E7BADB373BC07952" Guid="{79461149-D092-460B-BFFF-F56B5584C576}">
                <File Id="filAA703AAC4F1E28A2C88732D0B7F4FEE4" KeyPath="yes" Source="$(var.PythonDir)\_multiprocessing.pyd" />
            </Component>
            <Component Id="cmp7F19556B74A6B415D015E5DC8EC2EF61" Guid="{2F3F2B26-3C82-4B98-8737-5A1A52F13910}">
                <File Id="fil79B9A3F7C091BB23E71AE3E8B9F3ECBA" KeyPath="yes" Source="$(var.PythonDir)\_overlapped.pyd" />
            </Component>
            <Component Id="cmp015120825DEF1C5EB20119B99C4AFFB6" Guid="{DC8BB6C5-6F6E-4F36-8D54-13F6416F192C}">
                <File Id="fil7BB6FB33A5DC5CADF78198762C05BE85" KeyPath="yes" Source="$(var.PythonDir)\_queue.pyd" />
            </Component>
            <Component Id="cmpD365D0E9DAE53411CA28C4722715C771" Guid="{86BE1A3F-0052-4BD0-8302-89908973FBD5}">
                <File Id="fil75CD179F88C2D2A2B63DC059633D8079" KeyPath="yes" Source="$(var.PythonDir)\_socket.pyd" />
            </Component>
            <Component Id="cmp82442947A874D53B1FB66E72AB5A2B4D" Guid="{C336399E-B2EC-4E24-8EF8-716F1DBF4ACD}">
                <File Id="filA9090C005E299CC9C16DD500FEA98409" KeyPath="yes" Source="$(var.PythonDir)\_sqlite3.pyd" />
            </Component>
            <Component Id="cmp0CACFA11C3C1D74B7C28A8ED4BE38181" Guid="{0C4FBB08-EB75-4994-B4AF-802F6616DAAF}">
                <File Id="fil51BA49B37E5940F902A7D1F85BC15F94" KeyPath="yes" Source="$(var.PythonDir)\_ssl.pyd" />
            </Component>
            <Component Id="cmp7D13A6FA968AE482D76CB0D6DCE168FC" Guid="{EC6E2BCD-61A3-44F1-9288-E470DF5446C8}">
                <File Id="filE204E44EEC9497455AB07FEDD6B49213" KeyPath="yes" Source="$(var.PythonDir)\_uuid.pyd" />
            </Component>
            <Component Id="cmpEC9CEB6B9B1E75C1EB21DCCEB8B542AC" Guid="{C3D6377E-276F-4298-B902-9F83E80727AC}">
                <File Id="fil42F8D9CD0FCD39BD2E4BB9421DB97FB6" KeyPath="yes" Source="$(var.PythonDir)\_wmi.pyd" />
            </Component>
            <Component Id="cmpD37D52FBAC0D5DDA0456DDF4610CF436" Guid="{F7E5CA05-6CFA-45BC-A982-E3478AECDD12}">
                <File Id="fil5BBBA0DA94E2249BBAE2820724EB224B" KeyPath="yes" Source="$(var.PythonDir)\_zoneinfo.pyd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PythonFilesGroup">
            <ComponentRef Id="cmp35713A870C952E6908522DEB83C36042" />
            <ComponentRef Id="cmp44A5D3ACAFE3C90665CE6EDCA80257DA" />
            <ComponentRef Id="cmp55EE868E9AA0B342D7D18877FF0E0494" />
            <ComponentRef Id="cmpB2F8F987F472235981A00299C9F2861E" />
            <ComponentRef Id="cmpF38CC5975717BDFB7A9379C3589EEBF5" />
            <ComponentRef Id="cmp11E40797B0A1D532FBD1ACA1EA649A52" />
            <ComponentRef Id="cmp84B3D02563278AC609055A78E08B026D" />
            <ComponentRef Id="cmpC3ABF24791ECEE1BA44679141FE4E55E" />
            <ComponentRef Id="cmpC513C9469B988ECA20CA8DFD67828B45" />
            <ComponentRef Id="cmpF47FAF41783C6F1F9B0239AA955B1496" />
            <ComponentRef Id="cmp3C4D98EFE26A6DD41F71923FCBCE1428" />
            <ComponentRef Id="cmp203C7BA2FC305202C15BD7CEC69FA69E" />
            <ComponentRef Id="cmp6C0B41F14EB6A5D3AD7D67346D2A42FB" />
            <ComponentRef Id="cmp612EEEE85D4898ACA20F4640FD7EFB8D" />
            <ComponentRef Id="cmp26CE766BCF1C28DE3A3ABA46BD933A3E" />
            <ComponentRef Id="cmp890E536541E18ACE796857704C83A7A0" />
            <ComponentRef Id="cmpAFA61991B27E235FBD8C2CD4C37E2954" />
            <ComponentRef Id="cmp41033B3F4DE82E5835967A1E4D94358D" />
            <ComponentRef Id="cmp0FEFEDFF56ACC90614812AFD29FAC0C4" />
            <ComponentRef Id="cmp8B0648A5B61A553A46C6E78A38A238CC" />
            <ComponentRef Id="cmp57709473DF6A927803549271A52A43C9" />
            <ComponentRef Id="cmp316BAF075865317F4C49275039CE2D85" />
            <ComponentRef Id="cmp6C3539A4E6E28B354C69479E68F3B226" />
            <ComponentRef Id="cmpFB1FFBB864F603DD2811B24F48CE8DC2" />
            <ComponentRef Id="cmp0F9CAA5E73B53D6524093AFB845A7298" />
            <ComponentRef Id="cmp3B5B0FC5D9C75A9C83DF26C67E2BCA69" />
            <ComponentRef Id="cmpE8408DACB05EC7B767E0280D6ABCCC76" />
            <ComponentRef Id="cmpDC1317E303006506E7BADB373BC07952" />
            <ComponentRef Id="cmp7F19556B74A6B415D015E5DC8EC2EF61" />
            <ComponentRef Id="cmp015120825DEF1C5EB20119B99C4AFFB6" />
            <ComponentRef Id="cmpD365D0E9DAE53411CA28C4722715C771" />
            <ComponentRef Id="cmp82442947A874D53B1FB66E72AB5A2B4D" />
            <ComponentRef Id="cmp0CACFA11C3C1D74B7C28A8ED4BE38181" />
            <ComponentRef Id="cmp7D13A6FA968AE482D76CB0D6DCE168FC" />
            <ComponentRef Id="cmpEC9CEB6B9B1E75C1EB21DCCEB8B542AC" />
            <ComponentRef Id="cmpD37D52FBAC0D5DDA0456DDF4610CF436" />
        </ComponentGroup>
    </Fragment>
</Wix>